<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/SSL Wireless/EZconsumer">
        <classes>
            <class name="tests.TestCases">
                <methods>
                    <include name="testLogin"/>
                    <include name="testRecharge"/>
                    <include name="testRechargeSchedule"/>
                    <include name="rechargeOfferMethod"/>
                    <include name="testBillPay"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>